def my_cycle(max) {
	x = 0

	while x < 12 {
		print("x =", x)

		x += 1

		if x == max break x
	} else {
		print("Цикл пройден без break!")
	}
}

print("Первый запуск: my_cycle(5)")
result = my_cycle(5)
print("Результат:", result)

print("Второй запуск: my_cycle(12)")
result = my_cycle(12)
print("Результат:", result)

print("Третий запуск: my_cycle(25)")
result = my_cycle(25)
print("Результат:", result)
