print(sqrt);
print(sin);
print(cos);
print(print);
print(type);
print(repr);
print(str);
print(tuple);
print(all);
print(any);
print(map);
print(len);
print(abs);
print(sum);
print(min);
print(max);
print(mean);
print(median);
